.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    z-index: 1000;
    transition: background 0.3s ease;
}

.header.scrolled {
  background: #f5f5f594; /* light gray */
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}


.header-logo {
    height: 60px;
    width: auto;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .header-link {
    font-weight: 600;
    font-size: 18px;
    padding: 16px 24px;
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;

    &:hover {
        color: #fe1676;
    }

    &.active {
        color: #fe1676;
    }
}

.contact-btn {
    padding: 12px 24px;
    font-size: 18px;
    background: linear-gradient(to right, #fe1676 0%, #f8952d 100%);
    color: white;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: 0 4px 15px rgba(255, 105, 135, 0.6);
    }
}

.menu-icon {
    display: none;
    font-size: 42px;
    cursor: pointer;
    color: #fe1676;
    background: #f5f5f5;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 767px) {
    .nav-container {
        position: absolute;
        top: 0;
        right: 10px;
        width: fit-content;
        flex-direction: column;
        align-items: center;
        background: #f5f5f5;
        padding: 15px 20px;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        opacity: 0;
        pointer-events: none;
        transition: top 0.3s ease, opacity 0.3s ease;

        &.active {
            top: 100%;
            opacity: 1;
            pointer-events: auto;
        }
    }


    .menu-icon {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    nav a {
        font-size: 16px;
        text-align: center;
        padding: 2px 8px;
    }

}