.info-card {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 15px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    /* text-align: center; */
    padding-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 18px rgba(254, 22, 118, 0.25);
}

.info-card-text {
    font-size: 16px;
    color: #888;
    padding: 0 10px;
}


.info-card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.info-card-title {
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0 5px 0;
    padding: 0 10px;
}

.info-read-more {
    margin: 15px ;
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: none;
}

.info-read-more:hover {
    text-decoration: underline;
}


@media (max-width: 992px) {

    .info-card {
        width: 260px;
    }
}

@media (max-width: 768px) {
    .info-card {
        width: 90%;
        margin: 10 auto;
    }

    .info-card-image {
        height: 200px;
    }
}