:root{
    --primary-color: #FF512F;
    --gradient-color: linear-gradient(to right, #FF512F 0%, #F09819 100%);
    --light-color: #f5f5f5;
    --dark-color: #333;
    --gray-color: #777;

}


::selection {
    background: var(--primary-color);
    color: #fff;
}